/*font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
:root {
    --cool-mint-color: #aef0d2;
    --cool-white-color: /*#f9f3f4;*/white;
}

html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100%;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 2px;
    margin: 1em 0;
    padding: 0;
    align-content: center;
}

#intro-line {
    border-top: 1px solid var(--cool-mint-color);
    width: 0%;
    text-align: center;
    position: relative;
    left: 50%;
    transition: width .5s;
    transform: translateX(-50%);
}
 /*url(../img/black-bg.jpeg);*/
#intro {
    height: 100% !important;
    width: 100%;
    margin: auto;
    background-color: black;
    display: table;
    top: 0;
    background-size: cover;
}

#intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.inner {
    position: fixed;
    bottom: 40%;
    top: 40%;
}

#intro-name {
    opacity: 0;
    color: var(--cool-white-color);
    -webkit-animation-duration: .6s;
    -moz-animation-duration: .6s;
    -ms-animation-duration: .6s;
}

#intro-sub {
    opacity: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--cool-white-color);
    -webkit-animation-duration: .6s;
    -moz-animation-duration: .6s;
    -ms-animation-duration: .6s;
}

.content {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    font-size: 450%;
    color: #f9f3f4;
    margin-top: 0;
    margin-bottom: 30px;
}

.content h2 {
    font-size: 300%;
    color: #f9f3f4;
    margin-bottom: 0;
}

.content h3 {
    font-size: 200%;
    color: #f9f3f4;
    margin-top: 30px;
}

.scrollDown {
    margin-top: 40%;
    color: var(--cool-mint-color);
    font-size: 2.5em;
    cursor: default;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -ms-animation-duration: 4s;
}

/*--- Media Queries ---*/

@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 480px) {
    
}