/*font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
:root {
    --cool-mint-color: #aef0d2;
    --cool-white-color: /*#f9f3f4;*/white;
    --cool-black-color: #333;
    --cool-grey-color: #aaa;
    --whitesmoke-color: #f4f3f3;
    --cool-dark-color: #2d313b;
    --cool-blue-color: #007bff;
}

html, body {
/*    font-family: 'Raleway', sans-serif; */

    /*font-family: 'LeagueSpartan' serif; */

/*    font-family: "prestige-elite-std", monospace; */    

    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100%;
    background-color: white;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
} 

.blue {
    color: var(--cool-blue-color);
}

.cd-section {
    background-color: white;
    margin-top: 0;
    margin-bottom: 3rem;
}

.hide-me {
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.active-me {
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}

ul {
    list-style: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 2px;
    margin: 1em 0;
    padding: 0;
    align-content: center;
}

#intro-line {
    border-top: 1px solid var(--cool-blue-color);
    width: 0%;
    text-align: center;
    position: relative;
    left: 50%;
    transition: width .5s;
    transform: translateX(-50%);
}
 /*url(../img/black-bg.jpeg);*/
#intro {
    height: 100% !important;
    width: 100%;
    margin: auto;
    background-color: black;
    display: table;
    top: 0;
    background-size: cover;
    position: relative;
}

/*#contact {
    background-color: black;
    width: 100%;
    height: 50%;
    margin: auto;
    
}*/

#intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

/*#contact .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}*/

.inner {
    position: fixed;
    bottom: 40%;
    top: 40%;
}

#intro-name {
    font-family: 'Montserrat', sans-serif;
    opacity: 0;
    font-weight: 300;
    color: var(--cool-white-color);
    animation-duration: .6s;
    -webkit-animation-duration: .6s;
    -moz-animation-duration: .6s;
    -ms-animation-duration: .6s;
}

#intro-sub {
    font-family: 'Montserrat', sans-serif;
    opacity: 0;
    font-weight: 300;
    /*font-family: 'Raleway', sans-serif;*/
    color: var(--cool-white-color);
    animation-duration: .6s;
    -webkit-animation-duration: .6s;
    -moz-animation-duration: .6s;
    -ms-animation-duration: .6s;
}

.content {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    font-size: 450%;
    color: #f9f3f4;
    margin-top: 0;
    margin-bottom: 4%;
}

.content h2 {
    font-size: 300%;
    color: #f9f3f4;
    margin-bottom: 0;
}

.content h3 {
    font-size: 200%;
    color: #f9f3f4;
    margin-top: 4%;
}

.scrollDown {
    color: var(--cool-blue-color);
    font-size: 2.5em;
    cursor: default;
    transition: all 0.6s;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -ms-animation-duration: 4s;
    position: absolute;
    left: 50%;
    right: auto;
    top: 90%;
}

/*-- Change with my logo icon on hover later --*/
.scrollDown:hover {
    font-size: 3em;
}

/*--- About Me ---*/

#about-me {
    padding-top: 10%;
    padding-bottom: 14%;
    padding-left: 0;
    padding-right: 0;
    color: var(--cool-black-color);
/*    font-family: "prestige-elite-std", monospace;
*/}

#about-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 300%;
    text-transform: uppercase;
    margin-bottom: 5%;
    letter-spacing: .05em;
}

#about-lead:after {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin: 20px 0 20px;
    background: var(--cool-blue-color);;
}

#about-lead {
/*    font-weight: bold;*/    
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}

.about-text {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    font-size: 1.15em;
    line-height: 1.6em;
}

/*----------------------*/
/*        Skills        */
/*----------------------*/
#skill {
    padding-bottom: 14%;
    padding-top: 3%;
}

#skill-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    font-weight: 400;
    color: var(--cool-blue-color);
    margin-bottom: 30px;
}

#skill-heading:after {
    content: " ";
    display: block;
    width: 50px;
    height: 2px;
    margin: 20px 0 20px;
    background: var(--cool-black-color);
}

.skill-sub-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--cool-black-color);
}

#skill-lng-icon {
    background: url(../img/gear-icon.png) center;
    background-size: 100%;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    margin-right: 5px;
}

#skill-tool-icon {
    background: url(../img/tool-icon.png) center;
    background-size: 100%;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    margin-right: 5px;
}

/* .check-icon {
    background: url(../img/check-icon.png) center;
    background-size: 100%;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin-right: 5px;
    bottom: 5px;
} */

.skill-check-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 10px;
    margin-left: 10px;
}

#skill-concept-icon {
    background: url(../img/bulb-icon.png) center;
    background-size: 100%;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    margin-right: 5px;
}

/* .skill-sub-heading:nth-child(0):before {
    content: "";
    background: url(../img/gear-icon.png) center;
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
} */
/* .skill-sub-heading:nth-child(1):before {
    content: "";
    background: url(../img/tool-icon.png) center;
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.skill-sub-heading:nth-child(2):before {
    content: "";
    background: url(../img/bulb-icon.png) center;
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
} */

.skill-ul {
    padding: 0;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

#skill-table {
    margin-top: 20px;
    margin-left: 10px;
}

.skill-category {
    margin: 5px 0;
    font-size: 1.5em;
    font-weight: 300;
}

#skill-table>tbody>tr>td {
    border-style: none;
    padding: 3px 0;
    font-size: 1.5em;
    font-weight: 300;
}


/*---------------------------*/
/*         Projects          */
/*---------------------------*/

#project {
    padding-top: 10%;
}

#project-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    font-weight: 400;
    color: var(--cool-blue-color);
}

#project-heading:after {
    content: " ";
    display: block;
    width: 50px;
    height: 2px;
    margin: 20px 0 20px;
    background: var(--cool-black-color);
}

.project-sub-heading-col {
    margin: 2% 0;
}

.project-sub-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.6rem;
    color: var(--cool-black-color);
    text-decoration: none;
    display: inline-block;
}

.project-sub-heading:after {
    position: relative;
    left: 0px;
    content: "";
    background: url(../img/right-arrow.png) no-repeat center;
    background-size: 100%;
    width: 22px;
    height: 18px;
    display: inline-block;
    vertical-align: 4%;
    margin-left: 16px;
    transition: all .15s ease-in-out;
}

.project-sub-heading:hover {
    text-decoration: none;
    color: var(--cool-blue-color);
}

.project-sub-heading:hover:after {
    left: 10px;  
}

.project-img {
    display: block;
    width: 100%;
    height: auto;
}

.project-img-col {
    margin: 3% 0;
}

.project-description {
    margin-bottom: 5%;
}

.project-text {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 3%;
}

.project-row {
    margin-bottom: 10%;
}

.project-used-item {
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 2px 7px;
    border-radius: 3px;
    color: var(--cool-blue-color);
    border: 1px solid var(--cool-blue-color);
    background: 0 0;
}

.portfolio-container {
    margin-bottom: 8%;
}

.portfolio-container:nth-child(2) {
    margin-bottom: 8%;
}

/*------------------------------*/
/*          Contacts            */
/*------------------------------*/
#footer {
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#footer-left {
    width: 200px;
}

#top {
    display: block;
    margin-bottom: 3px;
}

#bottom {
    display: block;
}



#footer-right a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: var(--cool-blue-color);
    text-decoration: none;
    padding-bottom: 5px;
}

#footer-right a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}

#footer-right a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #007bff;
    transition: width .5s ease;
}


#footer-right a:hover:before {
    width: 100%;
    background: #007bff;
    transition: width .5s ease;
}

#footer-right a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

#footer-right img {
    display: none;
    width: 30px;
}

.footer-link {
    text-transform: uppercase;
}

/*

.footer-link {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.footer-link:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}

.footer-link:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #007bff;
    transition: width .5s ease;
}

.footer-link:hover:before {
    width: 100%;
    background: #007bff;
    transition: width .5s ease;
}

.footer-link:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
} */

#resume-section {
    margin: 90px 0;
}

/* #resume-text {
    display: inline-block;
    position: relative;
    mix-blend-mode: lighten;
    font-size: 1.45em;
    padding-bottom: 10px;
    transition: color .4s ease;
}

#resume-text:hover {
    color: var(--cool-blue-color);
}

#resume-text:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
    margin-top: 10px;
}

#resume-text:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #007bff;
    transition: width .5s ease;
}

#resume-text:hover:before {
    width: 100%;
    background: #007bff;
    transition: width .5s ease;
}

#resume-text:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
} */

#resume-link {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding-bottom: 3px;
    padding-top: 4px;
    
    
    transition: color ease 0.3s;
    font-size: 3rem;
}

#resume-link:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 5%;
    left: 0;
    bottom: 0;
    background-color: var(--cool-blue-color);
    transition: all ease 0.3s;
}

#resume-link:hover {
    color: var(--cool-white-color);
}

#resume-link:hover:after {
    height: 100%;
}

#resume-emoji {
    font-size: 3rem;
}


/*-------------------------------*/
/*      Vertical Navigation      */
/*-------------------------------*/
/* .cd-img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
} */

/* No Touch devices */
/* .cd-nav-trigger {
    display: none;
}

.no-touch #cd-vertical-nav {
    position: fixed;
    right: 40px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.no-touch #cd-vertical-nav li {
    text-align: right;
}
.no-touch #cd-vertical-nav a {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
}
.no-touch #cd-vertical-nav a span {
    float: right;
    display: inline-block;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}
.no-touch #cd-vertical-nav a:hover span {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.no-touch #cd-vertical-nav a:hover .cd-label {
    opacity: 1;
}
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
    background-color: var(--cool-blue-color);
}
.no-touch #cd-vertical-nav .cd-dot {
    position: relative;
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--cool-grey-color);
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.no-touch #cd-vertical-nav .cd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: var(--cool-black-color);
    font-size: 30px;
    font-size: 1.3rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}  */

/* Touch devices */
/* .touch .cd-nav-trigger {
    display: block;
    z-index: 2;
    position: fixed;
    bottom: 30px;
    right: 5%;
    height: 44px;
    width: 44px;
    border-radius: 0.25em;
    background: rgba(0, 73, 255, 0.90);
}
.touch .cd-nav-trigger span {
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: #3e3947;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
    top: -9px;
}
.touch .cd-nav-trigger span::after {
    bottom: -9px;
}

.touch #cd-vertical-nav {
    position: fixed;
    z-index: 1;
    right: 5%;
    bottom: 30px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 0.25em;
    background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
    display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
    color: #d88683;
}
.touch #cd-vertical-nav.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
    background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
    background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
    background-color: #3e3947;
    height: 3px;
    width: 20px;
    border-radius: 0;
    left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
    border-bottom: none;
}

@media only screen and (min-width: 768px) {
    .touch .cd-nav-trigger, .touch #cd-vertical-nav {
        bottom: 40px;
    }
} */





/*--- Media Queries ---*/

@media screen and (max-width: 1200px) {
    .skill-sub-heading {
        font-size: 2.1rem;
    }

    #skill-lng-icon, #skill-tool-icon, #skill-concept-icon{
        height: 2.6rem;
        width: 2.6rem;
    }

    #resume-text {
        font-size: 2.8rem;
    }


}
@media screen and (max-width: 1024px) {
    #about-heading {
        font-size: 4rem;
        line-height: 5rem;
    }

    #about-lead {
        font-size: 2rem;
        line-height: 4rem;
    }
    #footer {
        padding: 50px;
    }

    .skill-sub-heading {
        font-size: 2.1rem;
    }

    #skill-lng-icon, #skill-tool-icon, #skill-concept-icon{
        height: 2.4rem;
        width: 2.4rem;
    }

    .skill-category {
        font-size: 1.9rem;
    }

    .skill-check-icon {
        width: 2rem;
        height: 2rem;
    }

    #skill-table > tbody {
        font-size: 1.2rem;
    }

    #resume-text {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 992px) {
    /* .container {
        width: 850px;
    } */
    .skill-sub-heading {
        font-size: 1.5rem;
    }

    .skill-category {
        font-size: 1.6rem;
    }

    #skill-table > tbody {
        font-size: 1rem;
    }

    #resume-text {
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 800px) {
    
    #footer-right span {
        display: none;
    }

    #footer-right img {
        display: inline-block;
    }
}

@media screen and (max-width: 767px) {
    .col-xs-12 {
        width: 70%;
    }

    .content h1 {
        font-size: 420%;
    }
    .content h3 {
        font-size: 200%;
    }


    .skill-sub-heading {
        font-size: 2.5rem;
    }

    #skill-lng-icon, #skill-tool-icon, #skill-concept-icon{
        height: 2.9rem;
        width: 2.9rem;
    }

    .skill-category {
        font-size: 2rem;
    }

    .skill-check-icon {
        width: 1.8rem;
        height: 1.8rem;
    }

    #skill-table > tbody {
        font-size: 1.4rem;
    }

    

    .skill-td {
        width: 20%;
    }

    #resume-text {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 630px) {

    .col-xs-12 {
        width: 90%;
    }

    #footer {
        display: block;
    }

    #footer-left {
        text-align: center;
        width: auto;
        margin-bottom: 25px;
    }

    #footer-left #top {
        display: inline-block;
    }

    #footer-left #bottom {
        display: inline-block;
    }

    #footer-right {
        display: flex;
        justify-content: center;
    }

    #footer-right a {
        margin: 0 10px;
    }
}



@media screen and (max-width: 480px) {
    .wow {
        visibility: visible !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
    .content h1 {
        font-size: 220%;
    }
    .content h3 {
        font-size: 110%;
    }

    .scrollDown {
        font-size: 1.2em;
    }
    /* turn off hover effect on arrow */
    .scrollDown:hover {
        font-size: 1.2em;
    }

    #about-heading {
        font-size: 4rem;
        line-height: 5rem;
    }

    #about-lead {
        font-size: 2rem;
        line-height: 4rem;
    }

    #about-lead:after {
        margin: 40px 0 40px;
    }

    .about-text {
        font-size: 1.37rem;
        line-height: 3rem;
    }

    .skill-sub-heading {
        font-size: 2.1rem;
    }

    #skill-lng-icon, #skill-tool-icon, #skill-concept-icon{
        height: 2.4rem;
        width: 2.4rem;
    }

    .skill-category {
        font-size: 1.7rem;
    }

    .skill-check-icon {
        width: 2rem;
        height: 2rem;
    }

    #skill-table > tbody {
        font-size: 1.15rem;
    }

    .project-text {
        font-size: 1.37rem;
        line-height: 2.5rem;
    }

    #footer {
        padding: 50px 30px;
        display: block;
    }

    #resume-link {
        border-bottom: 2px solid #007bff
    }
}